h1.title {
  color: blue;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p.info {
  font-family: sans-serif;
  font-style: italic;
  color: red;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
.list {
  font-size: 25px;

}
